{% extends 'base.html.twig' %}

{% block title %}A propos {% endblock %}

{% block body %}


<section class="section-margin">
		<div class="container">
			<div class="section-intro text-center pb-98px">
				<p class="section-intro__title">On parle d'avantage de nous!</p>
				<h2 class="primary-text">A notre propos</h2>
				<img src="img/home/section-style.png" alt="">
			</div>

 <p> Trouver un LAN près de chez soi n’a jamais été aussi simple 
ImpactGaming est un répertoire d'événements qui se rapportent à l’eSport en générale et centralise les LAN, compétitions, conventions…<br/>
<h3>Pourquoi ImpactGaming ?</h3>

Malgré une multitude de site qui répertorie quelques évènements en France, la plupart ne sont ne sont pas mis à jour de façon régulière ou/et n’en liste que très peu. <br/>

ImpactGaming répond en premier lieu à un besoin évident de référencement et de centralisation de tous ces événements. <br/>
Notre ambition est simple, nous souhaitons promouvoir tous les rassemblements liés à l’eSport Français en les centralisant sur notre plate-forme dans le but d’améliorer la visibilité des évènements et de faciliter les rencontres IRL. <br/>
<br/>
Nous souhaitons également répertorier les petits évènements ex : LAN de salle des fêtes, petites conventions qui représentent un nombre important et manquent énormément de visibilité.<br/>
Une application facile à utiliser et accessible à tous.<br/>
Une ergonomie réfléchie qui facilite la recherche, la création d’évènement et permet d’obtenir les informations essentielles en un coup d’oeil.<br/>
<br/>
<h3>Pour les organisateurs : </h3>
Vous pouvez créer, modifier et promouvoir vos évènements aisément avec des critères précis, spécifier le jeu, détailler votre événement en description, ajouter une image, un lien de site pour l’achat de places par exemple… Faites grimper votre visibilité auprès d’une communauté qui se tient informée du moindre événement ! Rejoindre Impact Gaming augmente vos chances d’être contacter par des sponsores, partenaires ou affiliés ! <br/>
<br/>

<div class="d-lg-flex justify-content-between">
				<div class="card-feature mb-5 mb-lg-0">
					<div class="feature-icon">
						<i class="flaticon-prize"></i>
					</div>
					<h3>Partenariat</h3>
					<p>His likeness beast moved domini moved above meat all fly blessed greater creepeth you itself living room
					</p>
				</div>

				<div class="card-feature mb-5 mb-lg-0">
					<div class="feature-icon">
						<i class="flaticon-earth-globe"></i>
					</div>
					<h3>Organisation</h3>
					<p>His likeness beast moved domini moved above meat all fly blessed greater creepeth you itself living room
					</p>
				</div>

				<div class="card-feature mb-5 mb-lg-0">
					<div class="feature-icon">
						<i class="flaticon-sing"></i>
					</div>
					<h3>Visibilité</h3>
					<p>His likeness beast moved domini moved above meat all fly blessed greater creepeth you itself living room
					</p>
				</div>
			</div>
<br/>
<h3>Pour les joueurs / participants : </h3>
Vous avez la possibilité de trouver l’évènement qui vous correspond vraiment en quelques clics en utilisant notre recherche détaillée et filtrée ex : CashPrize, prix d’entrée, région, support (PC, PS4, Xbox, Switch, Retro)... Soyez informés des événements gaming partout en France ! (Lan, Show, Tournois ...) Et pourquoi pas faire décoller votre carrière !<br/>
</p>


			<div class="d-lg-flex justify-content-between">
				<div class="card-feature mb-5 mb-lg-0">
					<div class="feature-icon">
						<i class="flaticon-prize"></i>
					</div>
					<h3>Always First Service</h3>
					<p>His likeness beast moved domini moved above meat all fly blessed greater creepeth you itself living room
					</p>
				</div>

				<div class="card-feature mb-5 mb-lg-0">
					<div class="feature-icon">
						<i class="flaticon-earth-globe"></i>
					</div>
					<h3>International Business</h3>
					<p>His likeness beast moved domini moved above meat all fly blessed greater creepeth you itself living room
					</p>
				</div>

				<div class="card-feature mb-5 mb-lg-0">
					<div class="feature-icon">
						<i class="flaticon-sing"></i>
					</div>
					<h3>World Great Speaker</h3>
					<p>His likeness beast moved domini moved above meat all fly blessed greater creepeth you itself living room
					</p>
				</div>
			</div>
			
		</div>
	</section>
{% endblock %}
