.middle-form{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.middle-form-container{
    max-width: 1500px;
    background-color: white;
    padding:2rem;
    border-radius: 1.5rem;
}

.banner-bg{
    background: url('../img/banner/hero-banner.png') center center no-repeat;
    background-size: cover;
}