<form method="post" action="{{ path('available_games_delete', {'id': available_game.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ available_game.id) }}">
    <button class="btn btn-danger ml-1"><i class="fa fa-trash"></i></button>
</form>
