{% extends 'admin/base.html.twig' %}

{% block title %}Nouvelle plateforme{% endblock %}

{% block body %}
<div class="card shadow mb-4">
		<div class="card-header py-3 d-flex justify-content-between">
			<h6 class="m-0 font-weight-bold text-primary">Ajouter une plateforme</h6>
			
		</div>
		<div class="card-body">
         {{ include('admin/platform/_form.html.twig') }}
        
        </div>
	</div>
{% endblock %}
