{% extends 'admin/base.html.twig' %}

{% block title %}Modifier evènement
{% endblock %}

{% block body %}
	<div class="card shadow mb-4">
		
		<div class="card-header py-3 d-flex justify-content-between">
			<h6 class="m-0 font-weight-bold text-primary">Modifier un évènement</h6>
			{{ include('admin/events/_delete_form.html.twig') }}
		</div>
		<div class="card-body">
			{{ include('admin/events/_form.html.twig', {'button_label': 'Modifier'}) }}
		</div>
	</div>
{% endblock %}
